test/src/main/kotlin/io/littlelanguages/data/Yammable.kt
test/src/main/kotlin/io/littlelanguages/scanpiler/AbstractScanner.kt
test/src/main/kotlin/io/littlelanguages/scanpiler/Location.kt
test/src/main/kotlin/io/littlelanguages/scanpiler/ScannerReader.kt
test/src/main/kotlin/simple/Parser.kt
test/src/main/kotlin/parspiler/Parser.kt
test/src/main/kotlin/parspiler/Scanner.kt
test/src/main/kotlin/io/littlelanguages/data/Tuple.kt
test/src/main/kotlin/io/littlelanguages/data/Union.kt
test/src/main/kotlin/parspiler/scanner/Scanner.kt
test/src/main/kotlin/simple/scanner/Scanner.kt
test/src/main/kotlin/alternative/scanner/Scanner.kt
test/src/main/kotlin/alternative/Parser.kt
